/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: 1px solid red !important;
} */

body {
  font-family: var(--font-poppins), sans-serif;
  background: #f1f1f1;
}
